@tailwind base;
@tailwind components;
@tailwind utilities;

.range-slider::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #f97316; /* Tailwind's orange-500 */
  border-radius: 50%;
  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background-color: #f97316; /* Tailwind's orange-500 */
  border-radius: 50%;
  cursor: pointer;
}

.range-slider::-ms-thumb {
  width: 16px;
  height: 16px;
  background-color: #f97316; /* Tailwind's orange-500 */
  border-radius: 50%;
  cursor: pointer;
}
